# TASK-2: Data Cleaning (Ensure the Dataset is Clean for Analysis)

## Description:
### Handle missing values appropriately (e.g.,fill,drop, or impute).
### Remove duplicate records if any.
### Standardize column names (convert to lowercase and replace spaces with underscores).

In [1]:
#Telco Customer Churn Data Cleaning Script

## Import Necessary Libraries

In [2]:
#Step-1:
import pandas as pd
from IPython.display import display, Markdown

## Load the Dataset

In [3]:
#Step-2:
df = pd.read_csv("Telco_Customer_Churn.csv")

## Preview

In [4]:
#Step-3: Display the first few rows
display(Markdown("### Preview of the Dataset"))
display(df.head())

### Preview of the Dataset

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## df.Info

In [5]:
#Step-4:
#To capture df.info() as string:
import io
buffer = io.StringIO()
df.info(buf=buffer)
info_str = buffer.getvalue()
display(Markdown(f"```python\n{info_str}\n```"))

```python
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

```

## Statistical summary

In [6]:
#Step-4:
display(Markdown("### Summary Statistics"))
display(df.describe(include='all'))

### Summary Statistics

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,7043,7043,7043.000000,7043,7043,7043.000000,7043,7043,7043,7043,...,7043,7043,7043,7043,7043,7043,7043,7043.000000,7043,7043
unique,7043,2,NaN,2,2,NaN,2,3,3,3,...,3,3,3,3,3,2,4,NaN,6531,2
top,3186-AJIEK,Male,NaN,No,No,NaN,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,20.2,No
freq,1,3555,NaN,3641,4933,NaN,6361,3390,3096,3498,...,3095,3473,2810,2785,3875,4171,2365,NaN,11,5174
mean,NaN,NaN,0.162147,NaN,NaN,32.371149,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,NaN,NaN
std,NaN,NaN,0.368612,NaN,NaN,24.559481,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,NaN,NaN
min,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN,NaN
25%,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,NaN,NaN
50%,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN,NaN
75%,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,NaN,NaN
max,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN,NaN

## Replace TotalCharges

In [7]:
#Step-5: Replace empty strings in 'TotalCharges' with NaN and convert to numeric
df['TotalCharges'] = df['TotalCharges'].replace(" ", pd.NA)
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

## Check for Missing Values

In [8]:
#Step-6: Missing values
print(display(Markdown("### Missing Values before handling:")))
print(display(df.isna().sum().to_frame('Missing Values')))

# Duplicate check
display(Markdown(f"**Number of duplicate rows:** {df.duplicated().sum()}"))

### Missing Values before handling:

None

                  Missing Values
customerID                     0
gender                         0
SeniorCitizen                  0
Partner                        0
Dependents                     0
tenure                         0
PhoneService                   0
MultipleLines                  0
InternetService                0
OnlineSecurity                 0
OnlineBackup                   0
DeviceProtection               0
TechSupport                    0
StreamingTV                    0
StreamingMovies                0
Contract                       0
PaperlessBilling               0
PaymentMethod                  0
MonthlyCharges                 0
TotalCharges                  11
Churn                          0

None

**Number of duplicate rows:** 0

## Drop rows with missing 'TotalCharges'

In [9]:
#Step-7:
df = df.dropna(subset=['TotalCharges'])

## Remove Duplicate rows

In [10]:
#Step-8:
df = df.drop_duplicates()

## Standardize column names (lowercase, replace spaces with underscores)

In [11]:
#Step-9:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

## Final Dataset Info

In [12]:
#Step-10:
print("\nCleaned dataset info:")
print(df.info())

Cleaned dataset info:
<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7032 non-null   object
 1   gender            7032 non-null   object
 2   seniorcitizen     7032 non-null   int64
 3   partner           7032 non-null   object
 4   dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   phoneservice      7032 non-null   object
 7   multiplelines     7032 non-null   object
 8   internetservice   7032 non-null   object
 9   onlinesecurity    7032 non-null   object
 10  onlinebackup      7032 non-null   object
 11  deviceprotection  7032 non-null   object
 12  techsupport       7032 non-null   object
 13  streamingtv       7032 non-null   object
 14  streamingmovies   7032 non-null   object
 15  contract          7032 non-null   object
 16  paperlessbilling  7032 non-null   object
 17  paymentmethod     7032 non-null   object
 18  monthlycharges    7032 non-null   float64
 19  totalcharges      7032 non-null   float64
 20  churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB
None

In [13]:
# (Optional): Save the cleaned dataset
df.to_csv("cleaned_telco_customer_churn.csv", index=False)
print("\nâœ… Cleaned dataset saved as 'cleaned_telco_customer_churn.csv'")

âœ… Cleaned dataset saved as 'cleaned_telco_customer_churn.csv'